<h1>Courses</h1>
<div class="d-flex flex-row">
  <div class="m-2">
    <label class="m-2">filter by Category:</label>
    <select [(ngModel)]="filterCategory">
      <option [ngValue]="undefined">All</option>
      <option *ngFor="let course of courses" [ngValue]="course.category">
        {{ course.category }}
      </option>
    </select>
  </div>

  <div class="m-2">
    <button (click)="exportCoursesData()" class="btn btn-primary">
      <i class="bi-download pe-2"></i>
      Export
    </button>
  </div>
</div>

<div class="mx-3">
  <table class="table">
    <thead>
      <tr>
        <th class="align-middle">
          Course Name
          <button (click)="sortCourses('course_name')" class="btn btn-defualt">
            <i [ngClass]="displaySort('course_name')"></i>
          </button>
        </th>
        <th class="align-middle">
          price
          <button (click)="sortCourses('price')" class="btn btn-defualt">
            <i [ngClass]="displaySort('price')"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let course of courses; let i = index">
      <tr *ngIf="filterCategoryFunc(course.category)">
        <td>({{ course.course_code }}) {{ course.course_name }}</td>
        <td>
          {{ course.price }}
          <i class="bi-currency-dollar"></i>
          <button
            (click)="
              clicked
                ? openToggleDetails(course.course_code, i)
                : closeToggleDetails(course.course_code, i)
            "
            class="btn btn-defualt bi-plus-circle {{ course.course_code }}"
          ></button>
        </td>
      </tr>
      <tr>
        <td
          *ngIf="openDetails(course.course_code)"
          class="{{ course.course_code }}"
        >
          <div>
            <div>
              Start Date:
              {{ course.start_date | date }}
            </div>
            <div>
              Number of classes:
              {{ course.number_of_classes }}
            </div>
            <div>
              Category:
              {{ course.category }}
            </div>
            <div>
              Course description:
              {{ course.description }}
            </div>
            <div>
              Lecturer:
              {{ course.first }} {{ course.last }}
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
